# Python
__pycache__/
*.py[cod]
*.sqlite3
*.pyc
*.pyo
*.pyd

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Env
env/
venv/
ENV/
*.env

# VSCode
.vscode/

# macOS
.DS_Store

# Docker
*.pid
*.sock
*.swp
